.gitignore

# Terraform
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl

# Variables
*.tfvars
*.tfvars.json

# Crash logs
crash.log
crash.*.log

# Override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Sensitive files
.env


terraform.tfstate
terraform.tfstate.backup